* {
	box-sizing: border-box;
}
.block {
	padding: 20px 30px;
	position: absolute;
	width: 300px;
	height: 400px;
	left: 50%;
	margin-left: -200px;
	top: 50%;
	margin-top:-150px; 
	border: 2px solid #aeaeae
}
